<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
   <section name="LocalImageTagger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
   <section name="LocalImageTagger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
		<add name="Default" connectionString="Data Source=./DataBase/TagDataBase.db;Version=3;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	
 <userSettings>
  <LocalImageTagger.Properties.Settings>
   <setting name="FirstTimePopUpDisplays" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="MainWindowHeight" serializeAs="String">
    <value>600</value>
   </setting>
   <setting name="MainWindowWidth" serializeAs="String">
    <value>1000</value>
   </setting>
   <setting name="MainWindowTop" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="MainWindowLeft" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ImageViewerRenderingMode" serializeAs="String">
    <value>Unspecified</value>
   </setting>
   <setting name="ImageViewerSideMenuVisibile" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ImageViewerWidth" serializeAs="String">
    <value>800</value>
   </setting>
   <setting name="ImageViewerHeight" serializeAs="String">
    <value>500</value>
   </setting>
   <setting name="ImageViewerTop" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ImageViewerLeft" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="Tabs" serializeAs="String">
    <value />
   </setting>
   <setting name="ThumbnailHeight" serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="ThumbnailWidth" serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="ThumbnailsPerPage" serializeAs="String">
    <value>50</value>
   </setting>
   <setting name="ThumbnailColumns" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="ThumbnailImageBorderColor" serializeAs="String">
    <value>Black</value>
   </setting>
   <setting name="ThumbnailAnimatedImageBoderColor" serializeAs="String">
    <value>Cyan</value>
   </setting>
   <setting name="ThumbnailImageBorderVisible" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ThumbnailAnimatedImageBorderVisible" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="FirstTime" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ThumbnailMarginSize" serializeAs="String">
    <value>3</value>
   </setting>
  </LocalImageTagger.Properties.Settings>
 </userSettings>
 <applicationSettings>
  <LocalImageTagger.Properties.Settings>
   <setting name="DatabaseConnectionString" serializeAs="String">
    <value />
   </setting>
  </LocalImageTagger.Properties.Settings>
 </applicationSettings>
</configuration>